/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

/* ---------- */

#main {

}

/* ---- Begin: header ---- */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    height: 46px;

    background-color: #000;
}

#nav {
    display: inline-block;
}

#nav li {
    position: relative;

    display: inline-block;
}

#nav > li > a {
    color: #fff;

    text-transform: uppercase;
}

#nav li a {
    display: block;

    padding: 0 24px;

    text-decoration: none;
    line-height: 46px;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    display: none;
    
    background-color: #fff;
}

#nav .subnav li {
    display: block;
}

#nav .subnav a {
    padding: 0 12px;

    color: #000;

    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;

    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;

    cursor: pointer;
}

#header .search-icon {
    
    color: #fff;
    
    font-size: 14px;
    font-weight: 600;
    line-height: 46px;
}

/* ---- End: header ---- */

/* ---- Begin: slider ---- */

#slider {
    position: relative;

    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/sliders/chicago.jpeg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;

    width: 100%;
    text-align: center;

    color: #fff;

}

#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
}

#slider .text-description {
    margin-top: 25px;

    font-size: 15px;
}

/* ---- End: slider ---- */

/* ---- Begin: about section ---- */
#content {

}

#content .content-section {
    margin: 0 auto;
    padding: 64px 0;
    width: 800px;
}

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#content .section-sub-heading {
    margin-top: 25px;

    opacity: 0.6;

    font-size: 15px;
    font-style: italic;
}

#content .about-text {
    margin-top: 25px;

    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;

    width: calc(100% / 3);

    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* ---- End: about section ---- */

/* ---- Begin: tour section ----*/

.tour-section {
    background-color: #000;
}

.tickets-list {
    margin-top: 40px;

    background-color: #fff;
}

.tickets-list li {
    padding: 11px 16px;

    color: #757575;
    border-bottom: 1px solid #ddd;

    font-size: 15px;
    list-style: none;
}

.tickets-list .sold-out {
    margin-left: 16px;
    padding: 3px 4px;

    background-color: #f44336;
    color: #fff;

}

.tickets-list .quantity {
    float: right;

    margin-top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-color: #000;
    color: #fff;

    text-align: center;
    line-height: 24px;
}

/* ---- End: tour section ---- */

#footer {

}
